# 1) Copy this file to config/development/apache.conf and edit the paths as necessary
# 2) Ensure that the SSL module is activated in your apache install if you're running port 443
# 3) In your Apache configuration, add the following directive
# 
#       Include /path/to/rails/root/config/development/apache.conf
#

<VirtualHost *:80>
	ServerName nomtracker.localhost

	DocumentRoot /Users/john/projects/nomtracker/rails/public

	RailsEnv development
</VirtualHost>
