Hi <%= @email %>,

<%= @from_user.name %> has been using <a href="<%= @nomtracker_url %>">Nomtracker</a> to track their lending/borrowing.  They would like you to join and start tracking your loans as well.  <a href="<%= @url %>">Create an account</a>.

-Nomtracker

