- content_for :breadcrumb do
  My Transactions

.main
  %h1 Transactions
  = render :partial => 'recent', :locals => {:user => current_user, :transactions => current_user.transactions.sorted.find(:all)}

:javascript
  Event.observe(window, 'load', function() {
    updateNomworth(#{current_user.nomworth});
  });