- content_for :breadcrumb do
  My Transactions

.main
  %h1 Transactions
  .content
    %p This is a list of all debts/credits that you entered or that others have entered on your behalf.
  = render :partial => 'recent', :locals => {:user => current_user, :transactions => current_user.transactions.sorted.find(:all)}
  
:javascript
  Event.observe(window, 'load', function() {
    updateNomworth(#{current_user.nomworth}, #{current_user.balances.select(){|b| b[:balance] > 0}.size}, #{current_user.balances.select(){|b| b[:balance] < 0}.size});
  });